* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
header {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #70163C, #307351);
    align-items: center;
    justify-content: space-around;
}
header div {
    width: 80%;
    max-width: 1000px;
    display: flex;
}
header .container_logo img {
    justify-content: flex-start;
    width: 8rem;
    transform: rotate(-90deg);
}
header .container_titulo {
    justify-content: center;
    align-items: center;
}
header .container_titulo h1 {
    font-size: 10vw;
    color: white;
}
header .container_consulta {
    justify-content: flex-end;
    align-items: center;
}
header .container_consulta a {
    text-decoration: none;
    font-size: 1.7rem;
    border-radius: 4%;
    background-color: #95B2B8;
    padding: 1rem;
    color: black;
    cursor: pointer;
}
main {
    background-color: #2E0F15;
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
}
main p {
    width: 80%;
    max-width: 640px;
    color: white;
    font-size: 1.8rem;
    text-align: center;
}
footer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #120309;
    padding: 7rem 0;
    color: white;
    font-size: 1.5rem;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}
footer ul li {
    list-style: none;
    margin: 0 2rem;
}
footer ul li img {
    filter: invert(1);
}